<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-sacale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ONLINE HOSPITAL USER SERVICE</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'Happ/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Happ/both.style.css' %}">
	<link rel="stylesheet" href="{% static 'Happ/swiper.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Happ/main.css' %}">
</head>
<body>

{% block header %}

{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}

{% endblock %}
</body>
</html>